#MySignature　　{　　 border:solid 1px #E5E5E5;

　　　　　　　　　　　　　　padding:10px;

　　　　　　　　　　　　　　background:#FFFEFE url(//images.cnblogs.com/cnblogs_com/grenet/226272/o_o_o_info.png) no-repeat scroll 15px 50%;
　　　　　　　　　　　　　　padding-left:80px;}
#MySignature div{line-height: 25px;}

.headermaintitle {
    font-family: "courier new",verdana,monospace,sans-serif;
    FONT-SIZE: 28px;
    font-weight: bold;
}

a.headermaintitle:visited {
    color: #665F5B;
    text-decoration: none;
}

.postTitle {
    border: solid 0 red;
    padding: 10px;
    padding-left: 5px;
    font-size: 18px;
    font-weight: bold;
}

.postTitle h1 {
    border: solid 0 red;
    padding: 10px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}